KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_CONSUMER_GROUP=moimmee-consumer-group
DB_URL=jdbc:mysql://localhost:3306/moimmee_gathering_service?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul
DB_USERNAME=root
DB_PASSWORD=password
JPA_DDL_AUTO=update
GRPC_USER_SERVICE_ADDRESS=static://localhost:9090